#!/usr/bin/env bash
export DIRENV_WARN_TIMEOUT=0
export DIRENV_LOG_FORMAT=""
# only continue if the user has the nix version of direnv
if has nix_direnv_version; then
  # load the flake environment
  use flake
fi