[Desktop Entry]
Name=Tangent
GenericName=Web Browser
Comment=Go on tangents
Exec=surf.tangent.Tangent
Terminal=false
Type=Application
Categories=Network;WebBrowser;GNOME;GTK;
StartupNotify=true
X-GNOME-UsesNotifications=true
Icon=surf.tangent.Tangent
DBusActivatable=true
